<div id="graphic" class="container clear">
  <div class="span-15">
    <h1>Установщик Ruby для Windows</h1>

    <p>
      <strong>...который работает на Windows</strong> и включает в себя <strong>язык Ruby</strong>,
      среду выполнения, важную <strong>документацию</strong> и многое другое.
    <div>
      <div id="download_btn">
        <a href="{{ "/downloads/" | relative_url }}">
          <span>Загрузить</span>
        </a>
      </div>
      <div id="addon_btn">
        <a href="{{ "/add-ons/uru" | relative_url }}">
          <span>Дополнения</span>
        </a>
      </div>
    </div>
  </div>
  <div class="span-9 last">
    <img id="gembox" src="{{ "/assets/gembox.png" | relative_url }}" width="310" height="263" alt="Box of gems pic">
  </div>
</div>
