<div id="footer" class="container clear">
  <div class="span-4">
    <ul>
      <li><strong>RubyInstaller</strong></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/feed.xml">News Feed</a></li>
      <li><a href="/downloads/">Download</a></li>
    </ul>
  </div>
  <div class="span-4">
    <ul>
      <li><strong>Developers</strong></li>
      <li><a href="https://groups.google.com/group/rubyinstaller">Developer List</a></li>
      <li><a href="https://github.com/oneclick/rubyinstaller2/wiki">Development Doc</a></li>
      <li><a href="https://github.com/luislavena/rake-compiler">Gem Developers</a></li>
    </ul>
  </div>
  <div class="span-4">
    <ul>
      <li><strong>Help</strong></li>
      <li><a href="https://github.com/oneclick/rubyinstaller2/wiki/faq">FAQ</a></li>
      <li><a href="https://groups.google.com/group/rubyinstaller">Mailing List</a></li>
      <li><a href="https://github.com/oneclick/rubyinstaller2/issues">Report a Bug</a></li>
      <li><a href="https://github.com/oneclick/rubyinstaller2/issues">Request a Feature</a></li>
    </ul>
  </div>
  <div id="copyright" class="span-12 last">
    <ul>
      <li><a href="https://github.com/oneclick/rubyinstaller.org-website/edit/master/{{ page.path }}" class="edit">Improve this page</a></li>
      <li>Copyright © 2009-2021 RubyInstaller <a href="/about/contributors">Contributors</a></li>
    </ul>
  </div>
</div>
